/* src/components/Login.css */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Chiều cao tối thiểu là toàn bộ màn hình */
  background-image: url('../../assets/images/login.png');
  /* Đường dẫn tương đối đến ảnh */
  background-size: cover;
  /* Đảm bảo hình nền bao phủ toàn bộ */
  background-position: center;
  /* Canh giữa hình nền */
  background-repeat: no-repeat;
  /* Không lặp lại hình nền */
  font-family: Arial, sans-serif;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #45a049;
}
.register-link p{
  color: #0a19e8;
  text-decoration: none;
}
.register-link a{
  text-decoration: none;
}
.register-link p:hover{
  color: #5edc99;
}