.post-list {
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    background-color: #f9f9f9;
}

.post-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-item p {
    margin: 5px 0;
    border: none;
}

.post-images img {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
.posts{
    display: flex;
    justify-content:space-around;
}
.posts .tien-ich{
    list-style: none;
}
.post-item{
    width: 40%;
    height: auto;
}
.post-item .price{
    
}
.post-item strong{
    font-weight: 300;
    color: black;
}
.post-item .phone{
    display:flex;
}
.phone .icon-phone{
    margin-right: 5px;
}
.phone{
    border-radius: 5px;
}
.post-list .paginate{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-item .main-image{

}
.post-item .main-image img{
    width: 95%;
    margin: 10px;
    border-radius: 5px;
}