/* src/components/Footer.css */
.footer-1 {
  background-color: #333;
  color: white;
  padding: 20px 0 0;
  font-size: 14px;
  margin-top: 5px;
}

.footer-container-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 10px;
}

.footer-section-1 {
  flex: 1;
  margin-right: 20px;
}

.footer-section-1 h3 {
  margin-left: 10px;
  color: #f39c12;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-section-1 p,
.footer-section-1 ul {
  margin: 0;
  text-align: center;
  color: #fff;

}
.footer-section-1 p{
  margin-bottom: 5px;
  height: 42px;
  border-radius: 4px;
}
.footer-section-1 a {
  color: #fff;
  text-decoration: none;
}
.footer-section-1 strong{
  color: #fff;
  text-decoration: none;
}
.footer-section-1 a:hover {
  text-decoration: none;
}

.social-links-1 li,
.quick-links-1 li {
  list-style: none;
  margin-bottom: 5px;
  background-color: #333;
  border: none;
  height: 42px;
}
.social-links-1 li{
  boder : 1px #333 solid ;
}
.social-links-1 a {
  color: #fff;
}

.quick-links-1 a:hover{
  color: #f39c12;
}
.social-links-1 a:hover {
  color: #f39c12;
}

.footer-bottom-1 {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
}
