/* src/components/Footer.css */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0 0;
  font-size: 14px;
  margin-top: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h3 {
  margin-left: 10px;
  color: #f39c12;
  margin-bottom: 10px;
  text-align: center;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  text-align: center;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: none;
}

.social-links li,
.quick-links li {
  list-style: none;
  margin-bottom: 5px;
}

.social-links a {
  color: #fff;
}

.quick-links a:hover{
  color: #f39c12;
}
.social-links a:hover {
  color: #f39c12;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
}
